@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face {
	font-family: Handwritten;
	src: url(../fonts/FuturaHandwritten.ttf);
  }

:root {
	/* colors */
	--white: #ffffff;
	--dark: #002033;
	--primary: #f0c800;
	--secondary: #940000;
	--light-grey:#f0f1f1;
	--dark-grey:#00304d;
	--alpha-half:0.5;
	
	/* fonts */
	--base-font-size: 16px;

	--heading-font:
	'Rubik', sans-serif;
	--body-font:
	'Rubik', sans-serif;
	--handwritten-font: Handwritten, cursive;

	/* font weights */
	--font-weight-normal: 400;
	--font-weight-bold: 700;

	/* sizes */
	--size-xxxs: 0.0625em;
	--size-xxs: 0.125em;
	--size-xs: 0.25em;
	--size-s: 0.5em;
	--size-m:1em;
	--size-l:2em;
	--size-xl:3em;
	--size-xxl:4em;
	--skew-angle:-3deg;

	/* transitions */
	--transition-time: 0.25s;
}

html {
	scroll-behavior: smooth;
}

body{
    transition: var(--transition-time);
    margin: 0;
    padding: 0;
    background-color:var(--white);
    color:var(--dark);
    font-family: var(--body-font);
    font-weight:var(--font-weight-normal);
    font-size:var(--base-font-size);
    line-height: 1.6;
    word-break: break-word;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

table{
    border-collapse: collapse; /* IE7 and lower */
    border-spacing: 0;
	width:100%;
	margin-bottom:var(--size-m);
}

.in-progress{
	position:absolute;
	text-transform: lowercase;
	width:100%;
	transform:rotate(-80deg) translatex(-400px) translateY(-150px);
	opacity:0.25;
	font-size:10rem;
	text-align:center;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

th{
	background-color: var(--secondary);
	color:var(--primary);
}

th:first-child {
    border-radius: var(--size-s) 0 0 0;
}

th:last-child {
    border-radius: 0 var(--size-s) 0 0;
}

th:only-child{
    border-radius: var(--size-s) var(--size-s) 0 0;
}

table,
th,
td{
	text-align:left;
	padding:var(--size-s);
}

tr:last-child{
	border-bottom: var(--size-xxs) solid var(--secondary);
}

/* p + ol,
p + ul {
	/* margin-top:-1rem;
} */

ul,
ol {
	font-size:1rem;
	margin-bottom: var(--size-m);
}

ol li{
	padding-left:var(--size-s);
	margin-left:var(--size-l);
}

ul li{
	padding-left: var(--size-m);
	margin-left: var(--size-m);
}

::marker{
	font-weight:var(--font-weight-bold);
	color:var(--primary);
	padding: var(--size-m);
	margin: var(--size-m);
}

ul li::marker{
	content: '>';
}

ol{
	list-style-type: decimal;
	list-style-position: outside;
}

ol ol {
	list-style-type: lower-roman;
	margin-left:var(--size-l);
	margin-bottom:0;
}

.darkmode {
	position: fixed;
	right: var(--size-m);
	bottom: var(--size-m);
	margin: var(--size-m);
	width:5rem;
	z-index:10;
	border:solid var(--size-xs) var(--primary);
	background-color:var(--dark);
}

.dark {
	background-color:var(--dark);
	color:var(--white);
}

::selection {
	background-color: var(--primary);
}

b,
.opening,
th,
td:nth-child(1){
	font-weight:var(--font-weight-bold);
}

section,
article, 
.wrapper {
	max-width: 40em;
	margin:0 auto;
	padding: var(--size-m);
	/* z-index:2; */
}

.wrapper-50 {
	max-width: 50em;
	margin:0 auto;
	padding: var(--size-m);
	/* z-index:2; */
}

main,
.main {
	flex: 1;
	z-index:2;
	min-height: 1;
}

.portrait {
	border-radius: 50%;
}

img {
	border-radius: var(--size-s);
	width:100%;
	transition: var(--transition-time);
}

figure{
	position:relative;
	transition-duration: var(--transition-time);
	margin:0 -1em 1em -1em;
	padding: var(--size-m);
    border-radius: var(--size-m);
	z-index:1;
}

figure>img {
	width:100%;
}

figure>img:hover {
	cursor:pointer;
}

figure:hover {
    scale:1.05;
	z-index:10;
}

video{
	width:100%;
	border-radius:var(--size-s);
}

p {
	font-size:1rem;
	margin-bottom: 1rem;
}

p:last-child {
	margin-bottom: 0;
}

b, 
strong{
	font-weight:var(--font-weight-bold);
}

i,
em{
	font-style:italic;
}

.no-spacing {
	margin-bottom:0rem;
}

.circle {
	height: var(--size-m);
	width: var(--size-m);
	border:solid;
	border-width:var(--size-xxs);
	border-radius: 50%;
	border-color:var(--primary);
	display: inline-block;
}

.full {
	background-color: var(--primary);
}

mark{
	background-color:var(--primary);
	border-radius:0.75em;
	padding:0 var(--size-s) var(--size-xxs) var(--size-xs);
}

.half-width {
	display: block;
	width: 50%;
	margin:0 auto;
}

H1,H2,H3,H4, H5, H6{
	font-family:var(--heading-font);
	font-weight:var(--font-weight-bold);
	margin:0;
}

H1 {
	font-size:2.5rem;
	color:var(--primary);
}

H2 {
	font-size:1.5rem;
	color:var(--primary);
}

H3 {
	font-size:1.25rem;
}

.container > H3 {
	color:var(--primary);
}

H4 {
	font-size:0.75rem;
	text-transform: uppercase;
}

H5 {
	font-size:0.75rem;
	text-transform: uppercase;
	font-weight:var(--font-weight-normal);
}

H6 {
	font-size:0.75rem;
	text-transform: uppercase;
	font-weight:var(--font-weight-normal);
	letter-spacing:0.25rem;
}

a {
	font-weight:var(--font-weight-bold);
	color:var(--primary);
}

article a {
	font-weight:var(--font-weight-normal);
	color:var(--dark);
	text-decoration: underline;
	font-style:italic;
	transition: all 200ms;

	&:hover{
		color:var(--primary);
		background: var(--dark-grey);
		padding:0.5rem 1rem;
		margin:0.5rem;
		border-radius:1rem;
		transition: all 200ms;
	}
}

blockquote {
    transition: var(--transition-time);
    font-style:italic;
    font-size:1rem;
    opacity:0.9;
    min-height: 1em;
    padding: 1em;
    position: relative;
    margin: 1em 0;
    background-color: var(--light-grey);
    border-radius: var(--size-s);
    z-index: 1;
}

blockquote::before {
    transition: var(--transition-time);
    content: attr(big-text);
	color: var(--white);
    display: block;
    font-size: 7.5rem;
    font-weight: var(--font-weight-bold);
    text-transform: uppercase;
	position: absolute;
    top: -3.5rem;
    right: 1.25rem;
	z-index: -1;
}

blockquote.quote::after {
    transition: var(--transition-time);
    content: attr(big-text);
	color: var(--white);
    display: block;
    font-size: 4rem;
    font-weight: var(--font-weight-bold);
    text-transform: uppercase;
	position: absolute;
    bottom: -2rem;
    right: 1.25rem;
	z-index: -1;
}

blockquote.small::after {
    transition: var(--transition-time);
    content: attr(big-text);
	color: var(--white);
    display: block;
    font-size: 2rem;
    font-weight: var(--font-weight-bold);
    text-transform: uppercase;
	position: absolute;
    bottom: -1rem;
    right: 1.25rem;
	z-index: -1;
}

blockquote.quote::before,
blockquote.small::before {
    font-size: 0rem;
    top: -1.5rem;
}

.block-dark {
    transition: var(--transition-time);
    background-color:var(--dark-grey);
}

.block-dark::before {
    transition: var(--transition-time);
	color: var(--dark);
}

.block-dark::after {
    transition: var(--transition-time);
	color: var(--dark)!important;
}

.row{
	display: flex;
	flex-wrap: wrap;
	gap: var(--size-m);
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
}

.quote-author {
	margin: -1.25em 1.25em 1.25em 1.25em;
	font-style:italic;
	opacity:0.75;
}

.detail,
figcaption {
	font-size:0.8rem;
	opacity:0.8;
	font-style:italic;
	transition-duration: var(--transition-time);
	margin-bottom:-0.25em;
}

.detail{
	margin:0 auto 1.25em;
}

.subtitle {
	font-size:1.25rem;
	color:var(--white);
	opacity:0.5;
	font-style:italic;
	margin-top:0;
}

.angle-bottom ,
.angle-top
/*, .angle-both  */
{
	background: var(--secondary);
	overflow: hidden;
	padding: 4rem 0;
	position: relative;
}

header .angle-bottom,
.header .angle-bottom{
	background:transparent;
	padding:0;
}

footer .angle-top,
.footer .angle-top{
	background:transparent;
	padding:0;
}

header,
.header{
	position: relative;
	/* background: var(--secondary); */
	/* overflow: hidden; */
	padding-block:var(--size-l);
	margin-bottom:var(--size-xl);
}

header::before,
.header::before{
	content: '';
	background: var(--secondary);
	position: absolute;
	z-index:-2;
	top:0;
	height: 8em;
	inset:0;
}

header::after,
.header::after{
	content: '';
	background: var(--secondary);
	position: absolute;
	z-index:-1;
	inset:0;
	transform: skewY(var(--skew-angle));
}

footer,
.footer{
	position: relative;
	padding-block: 4rem 2em;
	margin-top: 7em;
	color:var(--white);
	text-align: center;
	z-index:1;
	transform:translateY(-3.9em);
}

footer::before,
.footer::before{
	content: '';
	height:10.5em;
	background: var(--secondary);
	position: absolute;
	z-index:-1;
	inset:0;
	transform: skewY(var(--skew-angle));
}

footer::after,
.footer::after{
	content: '';
	background: var(--secondary);
	position: absolute;
	inset:7em 0 auto 0;
	z-index:2;
	height: 7em;
}

.diagonal, 
.angle-both{
	position: relative;
	padding-block: 4rem 3rem;
	margin-block: 3rem;
}

.diagonal::after,
.angle-both::after{
	content: '';
	background: var(--secondary);
	position: absolute;
	z-index:-1;
	inset:0;
	transform: skewY(var(--skew-angle));
}

.well{
	background-color:var(--light-grey);
	color:var(--dark-grey);
	padding:2rem;
	border-radius: 1em;
}

.angle-bottom {
	clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
	margin-bottom: 3rem;
}

header .angle-bottom,
.header .angle-bottom {
	clip-path:none;
	margin:0;
}

.angle-top {
	clip-path: polygon(0 20%, 100% 0, 100% 100%, 0% 100%);
}
	
/* .angle-both {
	clip-path: polygon(0 20%, 100% 0, 100% 80%, 0% 100%);
	margin-bottom: 3rem;
	padding: 6rem 0 4rem;
} */

.column {
	float: left;
	width: auto;
}

.disabled{
	filter: saturate(0);
	opacity:0.5;
}

.two-columns{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	gap:var(--size-m);
	margin-bottom:var(--size-m);
}

.card {
	position:relative;
	display:flex;
	flex-direction: column;
	box-shadow: 0 var(--size-xxxs) var(--size-xxs) 0 var(--dark);
	color:var(--dark);
	background-color:var(--white);
	border-radius: var(--size-s);
	transition: var(--transition-time) ease-in;
	height:21em;
	width: 16em;
	z-index:1;
}

.card p {
	margin-bottom: 1em;
}

.wide-card{
	width:31em;
}

.card:hover {
	box-shadow: 0 var(--size-s) var(--size-m) 0 var(--dark);
	scale:1.05;
	z-index:2;
}

.card a{
	display:block;
	text-decoration: none;
	font-weight:400;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 10em;
	padding: 0 1em;
}

.card-img {
	height:11.25em;
	object-fit: cover;
	aspect-ratio: 5/3;
	max-width:100%;
	border-radius: var(--size-s) var(--size-s) 0em 0em;
	margin:0 auto 0.625em;
	display:block;
}

.card-top {
	position: relative;
}

.top-left {
	position: absolute;
	font-size: 0.8rem;
    top: var(--size-s);
    left: var(--size-s);
    font-weight: var(--font-weight-bold);
    color: var(--primary);
    background: var(--dark);
    padding: var(--size-xs) var(--size-s);
    border-radius: 1.5em;
}

.title {
	font-size:0.8em;
	opacity:0.8;
	font-style:italic;
	color:var(--dark);
	margin-top:0;
}

button {
	box-sizing: border-box;
	border: solid var(--size-xs) var(--primary);
	font-family: var(--heading-font);
	border-radius: var(--size-s);
	display: inline-block;
	padding: var(--size-s);
	color: var(--primary);
	font-weight:var(--font-weight-bold);
	background-color: var(--dark);
	text-align: center;
	cursor: pointer;
	width: 100%;
	transition: var(--transition-time);
}

button:hover,
button:active,
button.active {
	background-color: var(--primary);
	color: var(--dark);
}



button:active {
	cursor:default;
}

.grid-3 {
	display:grid;
	grid-template-columns:repeat(3,1fr);
	column-gap: var(--size-s);
}

.grid-4 {
	display:grid;
	grid-template-columns:repeat(4,1fr);
	gap: var(--size-s);
}

.grid-5 {
	display:grid;
	grid-template-columns:repeat(5,1fr);
	column-gap: var(--size-s);
}

.grid-6 {
	display:grid;
	grid-template-columns:repeat(6,1fr);
	column-gap: var(--size-s);
}

hr {
    border: none;
    border-top: 2px solid var(--primary);
    color: var(--primary);
    overflow: visible;
    text-align: center;
    height: 1em;
}

hr:after {
	background: var(--white);
	font-weight:700;
	text-transform: uppercase;
    content: attr(text);
    padding: 0 1em;
    position: relative;
    top: -0.7em;
}

select {
	font-size: 1em;
	font-family:var(--body-font);
	padding: 0px 4px;
	border: none;
	border-radius: 4px;
	background-color: var(--light-grey);
  }

select option[hidden] {
	color: red;
	background-color: var(--dark-grey);
}

.wrapper-1200 {
	max-width:75em;
	margin:0 auto;
}

.wrapper-600 {
	max-width:35em;
	float:left;
	padding:var(--size-m);
}

.handwritten {
	font-family: var(--handwritten-font);
	opacity:1;
}

.crumbs ol {
    list-style-type: none;
    padding-left: 0;
	margin:0;
	margin-left:-2em;
}

.crumbs ol {
    list-style-type: none;
	margin: 0;
}

.crumb {
    display: inline-block;
    padding: 0;
	margin:0;
}

nav a{
	color:var(--white);
	font-weight:var(--font-weight-normal);
}

nav a:hover{
	color:var(--primary);
	transition:var(--transition-time);
}

ol .crumb:not(:last-child):after {
    display: inline-block;
    color: var(--white);
    content: '>';
    font-size: 0.8rem;
    padding: 0 var(--size-s);
}

::-webkit-scrollbar {
	width:var(--size-m);
}

::-webkit-scrollbar-track {
	background: var(--light-grey);
	border-radius:100vw;
	margin-block:-var(--size-s);
}

::-webkit-scrollbar-thumb {
	background: var(--dark-grey);
	border-radius:100vw;
	transition: border var(--transition-time);
}

::-webkit-scrollbar-thumb:hover {
	background: var(--primary);
	border: var(size-xxs) solid var(--dark);
	box-shadow: 0 var(--size-s) var(--size-m) 0 var(--dark);
}

.darkmode {
	visibility:hidden;
}

@media screen and (max-width: 40em) {
	.column {
	  display: block;
	}

	figure{
		padding: var(--size-m);
	}

	.half-width {
		width: 100%;
		padding:0;
		padding-block: 1em;
	}
}

.tooltip{
	position:relative;
	background:var(--primary);
}

.tooltip::before,
.tooltip::after{
	--scale:0;
	position:absolute;
	top:-0.25rem;
	left:50%;
	transform: translateX(-50%) translateY(var(--translateY, 0)) scale(var(--scale));
	transition: 50ms transform;
	transform-origin: bottom center;
}

.tooltip::before{
	color:#f0f1f1;
	--translateY:
	calc(-100% - 0.5em);
	content: attr(data-tooltip);
	padding:0.5rem 1rem;
	width:max-content;
	max-width:100%;
	border-radius:0.25rem;
	background: var(--dark);
	/* color:var(--white); */
	font-size:0.8rem;
	font-weight:var(--font-weight-normal);
	font-style: italic;
}

.tooltip:hover::before,
.tooltip:hover::after{
	--scale:1;
}

.tooltip::after{
	--translateY:-0.5em;
	content:'';
	border: .5em solid transparent;
	border-top-color: var(--dark);
}

.accordion{
	margin-bottom: 1em;
}

.accordion__button{
	box-sizing:border-box;
	display: block;
	width:100%;
	padding: 1em;
	line-height: 1.6;
	border:none;
	border-bottom:0 solid var(--white);
	text-align:left;
	background-color: var(--light-grey);
	color:var(--dark-grey);
	border-color:var(--white);
}

.accordion__button:hover{
	background-color: var(--dark);
	color:var(--primary);
}

.accordion__button::after{
	content:'\25be';
	float:right;
	transform: rotate(0deg) scale(2);
}

.accordion__button--active + .accordion__content{
	display:block;
}

.accordion__button--active{
	background-color: var(--light-grey);
	color:var(--dark-grey);
	border-bottom: var(--size-xs) solid var(--white);
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.accordion__button--active::after{
	transform: rotate(180deg) scale(2);
	float:right;
	transition: transform var(--transition-time);
}

.accordion__content{
	display: none;
	overflow:hidden;
	padding:var(--size-m);
	transition: all var(--transition-time);
	background-color: var(--light-grey);
	color:var(--dark-grey);
	border-bottom-left-radius: var(--size-s);
	border-bottom-right-radius: var(--size-s);
	max-height:initial;
}

@media (prefers-color-scheme: dark){
	body {
		background-color:var(--dark);
		color:var(--light-grey);
	}
	
	blockquote {
		transition: var(--transition-time);
		background-color:var(--dark-grey);
	}

	blockquote::before {
		transition: var(--transition-time);
		color: var(--dark);
	}

	blockquote::after {
		transition: var(--transition-time);
		color: var(--dark)!important;
	}

	/* .darkmode {
		visibility:hidden;
	} */

	tr:nth-child(odd){
		background-color:var(--dark-grey);	
	}

	.in-progress{
		color:var(--light-grey);
	}
	
	.tooltip::before,
	.tooltip::after{
		background:var(--white);
		color:var(--dark);
		border-top-color: var(--white);
	}
		
	button {
		background-color: var(--dark);
	}

	figure{
		background: var(--dark);
	}

	figure:hover{
		box-shadow:0 var(--size-s) var(--size-m) 0 #000;
	}

	.accordion__button{
		background-color: var(--dark-grey);
		color:var(--light-grey);
		border-color:var(--dark);
	}

	.accordion__button:hover{
		background-color: var(--dark-grey);
	}

	.accordion__button--active{
		border-color: var(--dark);
	}
	
	.accordion__content{
		background-color: var(--dark-grey);
		color:var(--light-grey);
	}
}

@media (prefers-color-scheme: light){
	body {
		background-color:var(--white);
		/* color:var(--dark); */
	}
	
	tr:nth-child(odd){
		background-color:var(--light-grey);	
	}

	.in-progress{
		color:var(--dark-grey);
	}
		
	button {
		background-color: var(--white);
	}

	figure{
		background: var(--white);
	}

	figure:hover{
		box-shadow:0 var(--size-s) var(--size-m) 0 var(--dark);
	}
}

tr:hover,
tc:hover {
	background-color: var(--primary);
}

.card button {
	border-color: var(--dark);
	background-color:var(--dark);
}

.card button:hover,
.card button:active,
.card button.active {
	border-color: var(--primary);
	background-color:var(--primary);
	color:var(--dark);
}

.flex-group {
	display:flex;
	gap:var(--size-m);
	margin-bottom:var(--size-xl);
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 6em; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: var(--dark); /* Fallback color */
    background-color: rgba(0, 32, 51, 0.9); /*Black w/ opacity */
    z-index:100;
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    object-fit: contain;
    max-width: 80vw;
    max-height: 80vh;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 72em;
    text-align: center;
    color: #ccc;
    padding: 1em 0;
    height: 10em;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 1em;
    right: 1.5em;
    color: #f1f1f1;
    font-size: 2.5em;
    font-weight: bold;
    transition: 0.25s;
}

.close:hover,
.close:focus {
    color: var(--yellow);
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}


