@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{

	--white: #FFFFFF;
	--light-grey:#eae8eb;
	--black:#000000;
	--red: #F01C32;
	--orange: #FB8500;
	--yellow: #EFCA08;
	--green: #1eec80;
	--light-blue: #e1f5fe;
	--blue: #1ea2ed;
	--dark-blue:#022f46;

	/* old{
	--red: #d90429;
	--orange: #FB8500;
	--yellow: #FFB703;
	--green: #3c814a;
	--light-blue: #e1f5fe;
	--blue: #0076ad;
	--dark-blue:#022f46;
	} */
	
	--shadow-size:0.25rem;

	--element-bg-color: var(--dark-blue);
	--element-text-color: var(--dark-blue);
	--element-border-color: var(--dark-blue);
	--element-shadow-color: var(--dark-blue);
	--element-hover-border-color: var(--dark-blue);

	--bg-color:var(--light-grey);
	--text-color:var(--dark-blue);
	--border-color:var(--dark-blue);
	--shadow-color:var(--dark-blue);
	--hover-text-color:var(--dark-blue);
	--article-bg-color:var(--white);

	/* @media (prefers-color-scheme: dark) {
		--bg-color:var(--dark-blue);
		--text-color:var(--white);
		--border-color:var(--white);
		--shadow-color:var(--white);
		--hover-text-color:var(--light-blue);
		--article-bg-color:var(--dark-blue);
	} */
}

html, body {
	position: relative;
	font-size:16px;
	font-family: "Inter", serif;
	color:var(--text-color);
	background: var(--bg-color);
    height: 100vh;
	width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
	flex-direction: column;
	line-height:1.5;
	z-index:-10;
	overflow:hidden;
	scroll-behavior: smooth;
}

body{
	/* perspective: 1rem; */
	overflow-x: hidden;
	overflow-y: scroll;
}

.yellow {
	--element-bg-color: var(--yellow);
	--element-text-color: var(--dark-blue);
	--element-border-color: var(--dark-blue);
	--element-shadow-color: var(--dark-blue);
	--element-hover-border-color: var(--dark-blue);
	--text-color: var(--dark-blue);
}

.orange {
	--element-bg-color: var(--orange);
	--element-text-color: var(--dark-blue);
	--element-border-color: var(--dark-blue);
	--element-shadow-color: var(--dark-blue);
	--element-hover-border-color: var(--dark-blue);
	--text-color: var(--dark-blue);
}

.red {
	--element-bg-color: var(--red);
	--element-text-color: var(--dark-blue);
	--element-border-color: var(--dark-blue);
	--element-shadow-color: var(--dark-blue);
	--element-hover-border-color: var(--dark-blue);
	--text-color: var(--dark-blue);
}

.green {
	--element-bg-color: var(--green);
	--element-text-color: var(--dark-blue);
	--element-border-color: var(--dark-blue);
	--element-shadow-color: var(--dark-blue);
	--element-hover-border-color: var(--dark-blue);
	--text-color: var(--dark-blue);
}

.blue {
	--element-bg-color: var(--blue);
	--element-text-color: var(--dark-blue);
	--element-border-color: var(--dark-blue);
	--element-shadow-color: var(--dark-blue);
	--element-hover-border-color: var(--dark-blue);
	--text-color: var(--dark-blue);
}

.dark{
	--element-bg-color: var(--dark-blue);
	--element-text-color: var(--white);
	--element-border-color: var(--white);
	--element-shadow-color: var(--white);
	--element-hover-border-color: var(--white);
	--text-color: var(--white);

	/* &:hover{
		--text-color: var(--white);
		--element-bg-color: var(--blue-150);
	} */
}

.center{
	display:flex;
	justify-content: center;
	z-index:0;

}

nav, 
footer{
	position: absolute;
	width:100%;
	height:6rem;
	z-index:100;
	background-color: transparent;
	transition: 
		background-color 1000ms ease,
		height 1000ms ease;

	.content{
		display:flex;
		padding-inline:3rem;
		justify-content: space-between;
		align-items: center;
	}


	.logo {
		fill: var(--text-color);
		transition: fill 0.3s ease;
	
		&:hover {
			fill: var(--hover-text-color);
		}
	}

	ul{
		top:0;
		display:flex;
		flex-direction: row;
		align-items: center;
		gap:2rem;

		a{
			text-decoration: none;
			text-transform: uppercase;
		}
	}
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	z-index: -2;
	/* transform-style: preserve-3d; */

	.header-img {
		position: absolute;
		top: 0;
		left: 0;
		width:100%;
		height: 120vh;
		object-fit: cover;
		opacity:0.5;
		overflow-x:hidden;
		/* transform: translateZ(-1rem) scale(3); */
		-webkit-user-drag: none;
		user-select: none;
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
		pointer-events: none;
		z-index:0;
		
	}

	.header-gradient{
		position:absolute;
		top: 80vh;
		height:45vh;
		width:100vw;
		background: linear-gradient(
			180deg, 
			transparent 0%, 
			var(--bg-color) 90%
		);
		z-index:1;
	}

	/* header::after{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width:100%;
		height: 80vh;
		background: linear-gradient(
			180deg, 
			rgba(0,0,0,0) 0%, 
			rgba(0,0,0,0) 50%,
			rgba(255,255,255,1) 60%
		);
		z-index: 20;
	} */

	.header-content {
		--shadow-size:0.25rem;

		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		flex-direction: column;
		gap:2rem;
		position: relative;
		max-width:80rem;
		z-index: 1;
		padding-block:10rem;
		/* text-shadow: 0.125rem 0.125rem 10px rgba(0, 0, 0, 0.5); */
		/* transform: translateZ(-0.5rem) scale(1.5); */

		h1{
			/* rotate: -5deg; */
			line-height:1.1;
			letter-spacing: -0.125rem;
			color:var(--blue-100);
			/* text-shadow: var(--shadow-size) var(--shadow-size) 0 var(--blue-100);  */
			padding-inline:1rem;
			z-index:10;
		}

		.subtitle{
			font-size:1rem;
		}
	}
}

/* @keyframes parallax-shadow {
	from {
		box-shadow: 0 -0.25rem var(--blue-150);
	}
	to {
		box-shadow: 0 0.25rem var(--blue-150);
	}
	
} */

footer{
	position:static;
	width: min(100%, 40rem);
	padding-block:4rem;

	.content{
		padding-inline: 0;
	}
}

article{
	width: min(100%, 40rem);
	background-color: var(--article-bg-color);
    border: 0.125rem solid var(--border-color);
	box-shadow: var(--shadow-size) var(--shadow-size) 0 var(--shadow-color);
	/* border-radius:1rem; */
	padding:4rem;
	margin-block:2rem;
	animation: parallax-shadow linear;
	animation-timeline: view();
	animation-range: entry exit;

	/* a {
		--spacing:0.25rem;

		padding-inline:var(--spacing);
		margin-inline:calc(-1 * var(--spacing));
		text-decoration: none;
		position: relative;
		transition: all .3s cubic-bezier(.2, 0, 0, 1);
		z-index: 1;
		
		&:after {
			content: '';
			display: block;
			height: 0.125rem;
			position: absolute;
			bottom: 0.125rem;
			right: var(--spacing);
			left: var(--spacing);
			background-color: var(--article-bg-color);
			border-radius: 0.25rem;
			box-shadow: 0 0.25rem 0 var(--blue-200);
			transition: all .3s cubic-bezier(.2, 0, 0, 1);
			transform-origin: bottom center;
			z-index: -1;
		}
		
		&:hover {
			background-color: var(--blue-150);
			border-radius:0.25rem;
			color: var(--article-bg-color);
			transform: translateY(4px);
			
			&:after {
				right: 0;
				left: 0;
				height: 100%;
			}
		}
	} */

	ul {
		display: table-row;
		list-style: none;
	}
	  
	li {
		display: table-row;
	}
		
	li::before {
		display: table-cell;
		text-align: right;
		content: "+";
		font-size: 1rem;
		font-weight: 700;
		padding-inline: 0.5rem;
		transition: all 200ms ease;
	}

	/* li:hover {
		background-color: var(--blue-010);
	} */
	  
	/* li:not(:first-of-type)::before {
		padding-top: 0.75rem;
	} */

	figure{
		padding-block:2rem;
		width:100%;
		cursor: pointer;

			img,video {
				width:100%;
				border-radius: 0.5rem;
				position: relative;
				display: inline-block;
				/* filter: grayscale(75%); */
				transition: filter 0.3s ease;
			}

			img:hover,
			video:hover{
				filter: grayscale(0%);
			}
	
		figcaption{
			font-size:0.75rem;
			font-style: italic;
			opacity:0.8;
		}
	}
}



blockquote,
.quote{
	position:relative;
	--shadow-size:0.25rem;
	background-color: var(--blue-010);
	color:var(--blue-100);
	font-size:1rem;
	
	border: 0.125rem solid var(--blue-100);

	position:relative;
	box-sizing:border-box;
	outline: none;
	appearance: none;		
	text-decoration: none;
	
	box-shadow: var(--shadow-size) var(--shadow-size) 0 var(--shadow-color);
	/* border-radius:1rem; */

	max-width:45rem;
	margin-top:4rem;
	font-style: italic;
	padding:1rem;
}

blockquote::before,
.quote::before{
	position:absolute;
	display: block;
	font-size: 4rem;
	font-weight: 700;
	content:'”';
	top:-1.6rem;
	left:0;
}

blockquote::after,
.quote::after{
	position:absolute;
	display: block;
	font-size: 4rem;
	font-weight: 700;
	content:'“';
	bottom:-3.7rem;
	right:.5rem;
}

.quote{
	background-color: var(--article-bg-color);
	font-size: 1.5rem;
}

.quote::before,
.quote::after{
	font-size:7.5rem;
}

.quote::before{
	top:-2.9rem;
	left:0;
}

.quote::after{
	bottom:-6.7rem;
	right:1rem;
}

/* blockquote {
    transition: all 200ms ease;
    font-style:italic;
    font-size:1rem;
	color:var(--text-color);
	opacity:0.8;
    min-height: 1rem;
	max-width:40rem;
    padding: 1rem;
    position: relative;
    margin: 1rem 0;
    background-color: var(--blue-010);
    border-radius: 0.5rem;
    z-index: 1;
}

blockquote::before {
    transition: all 200ms ease;
    content: attr(big-text);
	color: var(--white);
    display: block;
    font-size: 7.5rem;
    font-weight: 700;
    text-transform: uppercase;
	position: absolute;
    top: -3.5rem;
    right: 1.25rem;
	z-index: -1;
}

blockquote.quote::after {
    transition: all 200ms ease;
    content: attr(big-text);
	color: var(--white);
    display: block;
    font-size: 4rem;
    font-weight: 700;
    text-transform: uppercase;
	position: absolute;
    bottom: -2rem;
    right: 1.25rem;
	z-index: -1;
} */

blockquote.small::after {
    transition: all 200ms ease;
    content: attr(big-text);
	color: var(--white);
    display: block;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
	position: absolute;
    bottom: -1rem;
    right: 1.25rem;
	z-index: -1;
}

blockquote.quote::before,
blockquote.small::before {
    font-size: 0rem;
    top: -1.5rem;
}

.blur{
	filter:blur(0.5rem);
}

b,strong{
	font-weight:700;
}

i,em{
	font-style: italic;
}

h1,h2,h3,h4,h5,h6{
	text-transform: capitalize;
}

h1{
	font-weight:700;
	font-size:clamp(4rem, 10vw, 8rem);
	line-height:1.2;
}

.subtitle{
	font-size:0.75rem;
	/* opacity:0.75; */
	/* font-style: italic; */
}

h2{
	margin-top:-0.75rem;
	font-weight:700;
	font-size:3rem;
	line-height:1.4;
	/* color:var(--random-color-050); */
}

h3{
	/* color:var(--random-color-150); */
	margin-top:1rem;
	font-size:1.5rem;
	font-weight:700;
	line-height:1.4;
}

h4{
	/* color:var(--random-color-150); */
	margin-top:1rem;
	font-weight:700;
	text-transform: uppercase;
	font-size:0.75rem;
}

p{
	font-weight:400;
	font-size:1rem;

	&
	+ p{
		margin-top:1rem;
	}

	+ h2 {
		margin-top:2rem;
	}
}

.no-top-spacing{
	margin-top:0;
}

a {
	color: var(--text-color);
	text-decoration: underline;
	cursor:pointer;
	font-weight: 700;
	transition: 
		fill 0.3s ease,
		color 0.3s ease;
  
	&:hover {
		color: var(--hover-text-color);
	}

	&.disabled{
		opacity:0.5;
		cursor:default;

		&:hover{
			color:inherit;
		}
	}
}

.opening{
	font-weight:700;
}

.detail{
	font-style: italic;
	opacity:0.75;
	font-size:0.75rem;
}

.centered{
	display: flex;
	justify-content: center;
	margin-block:2rem;
	gap:1rem;
}

.buttons{
	display: flex;
	gap:1rem;
	padding-top:2rem;

}

button,
.chip {
	
    font: inherit;
    color: inherit;
    outline: none;
	text-decoration: none;

	font-family: 'Rubik', sans-serif;
	font-size:1rem;
	font-weight:bold;
	text-transform: uppercase;
	box-sizing:border-box;
	height:2.5rem;

	/* border-radius:0.5rem; */
    border: 0.125rem solid var(--border-color);
    box-shadow: var(--shadow-size) var(--shadow-size) 0 var(--shadow-color);
    padding: 0.35rem 1rem 0.65rem;
    
    transition:
		background-color 200ms ease,
		border-color 200ms ease,
		box-shadow 100ms ease,
		transform 100ms ease;
    appearance: none;

	background-color: var(--element-bg-color);
    color: var(--element-text-color);
}

button{
	--shadow-size:0.25rem;
    border: 0.125rem solid var(--border-color);
    box-shadow: var(--shadow-size) var(--shadow-size) 0 var(--shadow-color);
    cursor: pointer;
	min-width:7.5rem;
	
	&:hover{
		background-color: var(--article-bg-color);
		border-color: var(--border-color);
		color: var(--text-color);
		cursor:pointer;
	}
	
	&:active{
		box-shadow: 		0 0px 0;
		transform: translateY(var(--shadow-size));
	}

	&.secondary{
		background-color: transparent;
		border-color: var(--element-hover-border-color);
		box-shadow: 0 0 0 var(--element-hover-border-color);

		&:hover{
			background-color: var(--article-bg-color);
			color:var(--element-text-color);
			box-shadow: var(--shadow-size) var(--shadow-size) 0 var(--shadow-color);
		}
	
		&:active{
			box-shadow: 0 0 0;
			transform: translateY(var(--shadow-size));
		}

	}

	&.ghost{
		background-color: transparent;
		border-color: transparent;
		box-shadow: var(--shadow-size) var(--shadow-size) 0 transparent;
		/* text-decoration: underline; */

		&:hover{
			background-color: var(--article-bg-color);
			border-color: var(--article-bg-color);
			box-shadow: var(--shadow-size) var(--shadow-size) 0 var(--shadow-color);
		}
	
		&:active{
			box-shadow: 0 0 0;
			transform: translateY(var(--shadow-size));
		}

	}

	&:disabled{
		opacity:0.5;
		cursor:default;

		&:hover{
			background-color: inherit;
			border-color: inherit;
			box-shadow: inherit;
		}

		&:active{
			box-shadow: inherit;
			transform: inherit;
		}
	}
}

.chips{
	display: flex;
	gap:1rem;
	justify-content: center;
	flex-wrap: wrap;
}

.chip{
	--shadow-size:0.125rem;

	padding:0.25rem 0.75rem;
	font-size:0.75rem;
	/* font-weight:400; */
	/* border-radius: 1rem; */
    box-shadow: var(--shadow-size) var(--shadow-size) 0 var(--shadow-color);
	width:inherit;
	height:inherit;
	
	&:active{
		box-shadow: 		0 0px 0;
		transform: translateY(var(--shadow-size));
	}
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

.modal {
	/* The Modal (background) */
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 6em; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: var(--dark); /* Fallback color */
    background-color: rgba(0, 32, 51, 0.9); /*Black w/ opacity */
    z-index:100;

	/* Modal Content (Image) */
	.modal-content {
		margin: auto;
		display: block;
		object-fit: contain;
		max-width: 80vw;
		max-height: 80vh;
	}

	/* Caption of Modal Image (Image Text) - Same Width as the Image */
	#caption {
		margin: auto;
		display: block;
		width: 80%;
		max-width: 72em;
		text-align: center;
		color: #ccc;
		padding: 1em 0;
		height: 10em;
	}

	/* Add Animation - Zoom in the Modal */
	.modal-content, #caption {
		-webkit-animation-name: zoom;
		-webkit-animation-duration: 0.6s;
		animation-name: zoom;
		animation-duration: 0.6s;
	}

	/* The Close Button */
	.close {
		position: absolute;
		top: 1em;
		right: 1.5em;
		color: #f1f1f1;
		font-size: 2.5em;
		font-weight: bold;
		transition: 0.25s;
	}

	.close:hover,
	.close:focus {
		color: var(--yellow);
		text-decoration: none;
		cursor: pointer;
	}
}

.cards{
	width: min(100%, 48rem);
	display: flex;
	flex-direction: column;
	gap:2rem;


	animation: parallax-shadow linear;
	animation-timeline: view();
	animation-range: entry exit;
}

.card{
	--shadow-size:0.25rem;
	background-color: var(--article-bg-color);
	color:var(--text-color);
	
    border: 0.125rem solid var(--border-color);

	position:relative;
	box-sizing:border-box;
    outline: none;
    appearance: none;

	width:100%;

	text-decoration: none;
	
	box-shadow: 
		4px 4px 0 var(--shadow-color);
	/* border-radius:1rem; */
	display:flex;
	flex-direction: row;
	overflow: hidden;

    transition:
		background-color 200ms ease,
		box-shadow 100ms ease,
		transform 100ms ease;
    appearance: none;

	&:hover{
		background-color: var(--light-blue);

		/* color:initial; */
	}
	
	&:active{
		box-shadow: 		0 0px 0;
		transform: translateY(var(--shadow-size));
	}

	h3 {
		text-transform: uppercase;
		font-weight:800;
		font-size:1.25rem;
		display: -webkit-box;       
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 3;     
		line-clamp: 3;     
		overflow: hidden;          
		text-overflow: ellipsis; 
	}

	.subtitle{
		opacity: 1;
		/* opacity:0.5; */
		/* font-weight:800; */
		/* text-transform: uppercase; */
	}

	.opening{
		font-weight:400;
		display: -webkit-box;       
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 5;     
		line-clamp: 5;     
		overflow: hidden;          
		text-overflow: ellipsis; 

	}

	img{
		position:relative;
		width:18rem;
		object-fit: cover;
		-webkit-user-drag: none;
		user-select: none;
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
		pointer-events: none;
		z-index:0;
        transform-origin: center;
        transform: scale(1.01);
	}

	.card-content{
		padding:0 1rem 1rem;
		display: flex;
		flex-direction: column;
	}

	.chips{
		margin-top:1rem;
		justify-content: start;
		/* flex-direction: column; */
		align-items: flex-start;
	}
}

.reverse{
	flex-direction: row-reverse;
}

.card-featured{


	flex-direction: column;
	/* background-color: var(--blue-150); */
	/* color:var(--white); */

	img{
		width:100%;
		max-height:20rem;
	}

	/* &:hover{
		background-color: var(--blue-200);
		color:white;	
	} */
}