:root {
    --white:#ffffff;
    --dark:#002033;
    --yellow:#f0c800;
    --red:#940000;
    --light-grey:#f2f3f3;
    --dark-grey:#00304d;
}

html{
    scroll-behavior:smooth;
}

body {
    background-color: var(--white);
    color: var(--dark);
    font-family: 'Rubik',sans-serif;
    box-sizing:
    border-box;
    font-size:16px;
    line-height:1.4;
}

h1,h2,h3,h4,h5,h6{
    color:var(--dark);
    font-weight:700;
    text-transform:capitalize;
}

h1{
    font-size:3em;
    color: var(--yellow);
}

h2{
    font-size:2em;
    color:var(--yellow);
}

h3{
    font-size:1.5;
    color:var(--yellow);
}

h4{
    font-size:1.25;
    color:var(--dark);
    text-transform:uppercase;
}

h5{
    font-size: 1em;
    color:var(--dark);
    text-transform:uppercase;
}

h6{
    color:var(--dark);
    font-size:0.75em;
    text-transform:uppercase;
}