<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Layout</title>
	<link rel="icon" type="image/ico" href="/portfolio/images/favicon.ico">
	<link rel="stylesheet" type="text/css" href="../../css/reset.css">
	<link rel="stylesheet" type="text/css" href="../../css/style.css">
	<link rel="stylesheet" type="text/css" href="../../css/modal.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script type="text/javascript" src="../../script/darkmode.js"></script>
	<script type="text/javascript" src="../../script/modal.js"></script>
</head>
<body>
	<button class="darkmode" onclick="darkmode()">dark mode</button> 
	<div id="myModal" class="modal">
		<span class="close">&times;</span>
		<img class="modal-content" id="img01">
		<div id="caption"></div>
	</div>
	<div class="header">
		<div class="angle-bottom">
			<div class="wrapper">
				<h1 id="SAG">Serious &amp; Applied Gaming</h1>
				<nav class="subtitle crumbs">
					<ol>
						<li class="crumb"><a href="/portfolio">Portfolio</a></li>
						<li class="crumb">Module 4: juni 2022</li>
					</ol>
				</nav>
			</div>
		</div>
	</div>
	<div class="main">
		<div class="wrapper">
			<p class="opening">In 2020 heb ik de stap gewaagd om in het drukke leven van werk en gezin er een uitdaging bij te nemen in de vorm van een deeltijdopleiding Communicatie &amp; Multimedia Design. In de tweede module van deze opleiding, Human Centered Design, volgde ik het vak Web Design, waarbij ik in aanraking kwam met evalueren van web-ontwerpen. Hierbij leerde ik ook rudimentaire html en css. Tijdens dit halfjaar ben ik mijn portfolio op dennisulijn.com online gaan zetten. Zo kon ik me stap voor stap uitdagen de skills eigen te maken, en tegelijkertijd had ik een plek om mijn portfolio te tonen. </p>
			<p>Een eerste uitdaging was de vormgeving: hoe wordt mijn website vormgegeven? In de eerste module heb ik in Personal Brand Design </p>
			<h2>About me</h2>
			<p>Tekst.</p>			
			<figure class="half-width">
				<img src="../../images/Bartle'sTaxonomy.png" alt="Lorem ipsum dolor sit amet.">
				<figcaption>Lorem ipsum dolor sit amet caption.</figcaption>
			</figure>
			<h2>Titel</h2>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed animi autem, ipsum accusantium minus maiores velit voluptatibus debitis! Nam perferendis vero porro error sunt dolor itaque illum dolorem quidem laborum id consectetur et vel pariatur hic cum enim molestiae sapiente officiis delectus, excepturi ab eius inventore! Sapiente eius inventore totam quaerat, voluptates vero? Quia, deleniti cum culpa pariatur repellendus nulla deserunt ut, alias ducimus placeat sunt consequatur repellat nesciunt minus corporis sint ipsum quis accusantium!</p>			
			<figure class="half-width">
				<img src="../../images/Claske-Probes.jpg" alt="Lorem ipsum dolor sit amet.">
				<figcaption>Lorem ipsum dolor sit amet caption.</figcaption>
			</figure>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed animi autem, ipsum accusantium minus maiores velit voluptatibus debitis! Nam perferendis vero porro error sunt dolor itaque illum dolorem quidem laborum id consectetur et vel pariatur hic cum enim molestiae sapiente officiis delectus, excepturi ab eius inventore! Sapiente eius inventore totam quaerat, voluptates vero? Quia, deleniti cum culpa pariatur repellendus nulla deserunt ut, alias ducimus placeat sunt consequatur repellat nesciunt minus corporis sint ipsum quis accusantium!</p>	
			<blockquote class="small" big-text="hello">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio libero vitae fugiat debitis ducimus voluptatem voluptas, possimus ut consectetur tempore deserunt incidunt nisi eaque sed?</blockquote>
			<ol>
				<li>Tekst 1</li>
				<li>Tekst 2</li>
				<li>Tekst 3</li>
				<li>Tekst 4</li>
			</ol>
			<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus, enim voluptate! Enim optio alias omnis, distinctio illo molestiae tempora repellat similique? Maxime a nobis modi praesentium vel architecto animi perspiciatis dolores reiciendis, vitae quisquam doloribus soluta nisi inventore aperiam sed incidunt blanditiis quod dolorem illo. Molestias corrupti sed quaerat. Tenetur vel illum amet dicta totam.</p>
		</div>
	</div>
	<div class="footer">	
		<div class="angle-top">
			<div class="wrapper">
				<p class="detail"><a href="/portfolio/about">Over mij</a> | &copy; 2022 dennisulijn.com | All rights reserved | <a href="mailto:dennisulijn@gmail.com">contact</a></p>
			</div>
		</div>
	</div>
</body>
</html>