body{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	display:grid;
	background-color: aqua;
	grid-template-columns: 1fr 63em 1fr;
}

.wrapper{
	grid-column: 2/2;
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap:1em;
}

.card{
	background-color: white;
	box-shadow: 0 0 1em black;
	padding:1em;
	border-radius: 1em;
}

h1{
	grid-column: 1/4;
	font-size:4em;
	text-align: center;
}

h2{
	font-size:2em;
	margin:0;
	margin-bottom:0.5em;
}

p{
	margin:0;
}