@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
	--white: #ffffff;
	--dark: #002033;
	--yellow: #f0c800;
	--red: #940000;
	--light-grey:#f2f3f3;
	--dark-grey: #00304d;
}

html {
	scroll-behavior: smooth;
}

body{
    transition: .25s;
    margin: 0;
    padding: 0;
    background-color:
    var(--white);
    color: var(--dark);
    font-family: 'Rubik', sans-serif;
	font-weight:400;
	line-height:1.4;
	font-size:16px;
    word-break: break-word;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

ul {
	margin-top:0px;
}

.darkmode {
	position: fixed;
	right:0;
	bottom:0;
	margin:20px;
	width:75px;
	z-index:1;
	border:0;
}

::selection {
	background-color: var(--yellow);
}

.dark {
	background-color:var(--dark);
	color:var(--white);
}

.opening {
	font-weight:700;
}

.wrapper {
	max-width:800px;
	margin:0 auto;
	padding: 16px;
}

.main {
	flex: 1;
}

.portrait {
	border-radius: 50%;
}

img {
	/* border-radius: 8px; */
	max-width:100%;
}

p {
	margin-top:0px;
}

.no-spacing {
	margin:0px!important;
}

.circle {
	height: 10px;
	width: 10px;
	border:solid;
	border-width:2px;
	border-radius: 50%;
	border-color:var(--yellow);
	display: inline-block;
}

.full {
	background-color: var(--yellow);
}

.half-width {
	display: block;
	width: 50%;
	padding-top:5px;
	margin:0 auto;
}

H1,H2,H3,H4,H5 {
	font-weight:700;
	margin: 0 0 -10px 0;
}

H1 {
	font-size:2.5em;
	color:var(--yellow);
}

H2 {
	font-size:1.25em;
	color:var(--yellow);
}

H3 {
	font-size:1em;
	color:var(--yellow);
}

H4 {
	font-size:0.75em;
	text-transform: uppercase;
}

a {
	font-weight:700;
	color:var(--yellow);
}

blockquote {
    transition: .25s;
	font-style:italic;
	opacity:0.9;
    min-height: 20px;
    padding: 20px;
	position: relative;
    margin: 20px 0px;
    background-color: var(--light-grey);
    border-radius: 8px;
}

blockquote::before {
    transition: .25s;
    content: attr(big-text);
	color: #ffffff;
    display: block;
    font-size: 120px;
    font-weight: 700;
    text-transform: uppercase;
	position: absolute;
    top: -45px;
    right: 20px;
	z-index: -1;
}

blockquote.quote::after {
    transition: .25s;
    content: attr(big-text);
	color: #ffffff;
    display: block;
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
	position: absolute;
    bottom: -25px;
    right: 20px;
	z-index: -1;
}

blockquote.small::after {
    transition: .25s;
    content: attr(big-text);
	color: #ffffff;
    display: block;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
	position: absolute;
    bottom: -12px;
    right: 20px;
	z-index: -1;
}

blockquote.quote::before {
    font-size: 0px;
    top: -22px;
}

blockquote.small::before {
    font-size: 0px;
    top: -22px;
}

.block-dark {
    transition: .25s;
    background-color:var(--dark-grey);
}

.block-dark::before {
    transition: .25s;
	color: var(--dark);
}

.block-dark::after {
    transition: .25s;
	color: var(--dark)!important;
}

.row{
	display: flex;
	flex-wrap: wrap;
	padding: 0 4px;
}

.quote-author {
	margin: -20px 20px 20px 20px;
	font-style:italic;
	opacity:0.75;
}

.detail {
	font-size:0.8em;
	/* opacity:0.8; */
	color: var(--dark-grey);
	font-style:
	italic;
	margin:0 auto 20px;
}

.subtitle {
	font-size:1.25em;
	color:var(--white);
	opacity:0.5;
	font-style:italic;
	margin-top:0px;

}

.angle-bottom {
	clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
	background: var(--red);
	margin-bottom: 50px;
	overflow: hidden;
	padding: 60px 0px;
	position: relative;
}

.angle-top {
	clip-path: polygon(0 20%, 100% 0, 100% 100%, 0% 100%);
	background: var(--red);
	margin-top: 50px;
	overflow: hidden;
	padding: 60px 0px;
	position: relative;
}

.angle-both {
	clip-path: polygon(0 20%, 100% 0, 100% 80%, 0% 100%);
	background: var(--red);
	margin-bottom: 50px;
	overflow: hidden;
	padding: 90px 0px 60px;
	position: relative;
}

.column {
	float: left;
	width: 30%;
	margin-bottom: 16px;
	padding: 0 8px;
}

.card {
	box-shadow: 0 1px 2px 0;
	color:black;
	background-color:var(--white);
	border-radius: 8px;
}

.card:hover {
	box-shadow: 0 12px 24px 0;
	transition:0.2s;
	transform:scale(1.2);
}

.container {
	padding: 0 16px;
}

.container::after, .row::after {
	content: "";
	clear: both;
	display: table;
}

.card-img {
	height:180px;
	object-fit: cover;
	border-radius: 8px 8px 0px 0px;
	margin:0 auto 10px;
	display:block;
}

.card-top {
	position: relative;
}

.top-left {
	position: absolute;
	font-size: 0.8em;
    top: 8px;
    left: 8px;
    font-weight: 700;
    color: var(--yellow);
    background: var(--dark);
    padding: 4px 8px;
    border-radius: 25px;
}

.title {
	font-size:0.8em;
	opacity:0.8;
	font-style:italic;
	color:var(--dark);
	margin-top:0px;
}

button {
	box-sizing: border-box;
	border: solid;
	border-color:var(--white);
	font-family: 'Rubik', sans-serif;
	border-radius: 8px;
	display: inline-block;
	padding: 8px;
	color: var(--yellow);
	font-weight:700;
	background-color: var(--dark);
	text-align: center;
	cursor: pointer;
	width: 100%;
	transition-duration: 0.3s;
}

button:hover,
button:active,
button.active {
	background-color: var(--white);
	color: var(--dark);
	box-shadow:0px 0px 0px 3px var(--dark) inset;
}

button:active {
	cursor:default;
}

.grid-5 {
	display:grid;
	grid-template-columns:1fr 1fr 1fr 1fr 1fr;
}

.grid-3 {
	display:grid;
	grid-template-columns:1fr 1fr 1fr;
}

@media screen and (max-width: 650px) {
	.column {
	  width: 100%;
	  display: block;
	}
}

.footer {
	color:var(--white);
	text-align: center;
}

.wrapper-1200 {
	max-width:1200px;
	margin:0 auto;
}

.wrapper-600 {
	max-width:560px;
	float:left;
	padding:20px;
}

/* @media screen and (max-width: 800px) {
	.wrapper-1200 {
	max-width:800px;
	margin:0 auto;
	}

	.wrapper-600 {
		max-width:800px;
		margin:0 auto;
	}
} */

@font-face {
    font-family: FuturaHandwritten;
    src: url('/fonts/FuturaHandwritten.ttf');
}

.handwritten {
	font-family: FuturaHandwritten;
	opacity:1;
}

.crumbs ol {
    list-style-type: none;
    padding-left: 0;
	margin:0;
}

.crumb {
    display: inline-block;
}

nav a{
	color:var(--white);
	font-weight:400;
}

nav a:hover{
	color:var(--yellow);
	font-weight:700;
	transition:.25s;
}

ol .crumb:not(:last-child):after {
    display: inline-block;
    color: var(--white);
    content: '>';
    font-size: 80%;
    padding: 0 10px;
}

@media screen and (max-width: 1000px) {
	img{
		border-radius:20px;	
	}
}