.shadow{
	box-shadow:var(--box-shadow-050);
	transition:box-shadow var(--time-025) ease;
}

.shadow:hover{
	box-shadow:var(--box-shadow-200);
}

.card{
	scroll-margin-top: var(--size-100);
	display:flex;
	flex-direction: column;
	justify-content: space-between;
	box-shadow:var(--box-shadow-050);
	transition:
		box-shadow var(--time-025) ease,
		border-radius var(--time-100) ease;
	/* gap:1em; */
	background-color: var(--white-100);
	border-radius:var(--border-radius-100);
	z-index:1;
	padding:1rem;
	margin-bottom:var(--size-200);

	&:hover{
		z-index:10;
	box-shadow:var(--box-shadow-200);
	}
	
	@media only screen and (
	max-width: 600px) {
		border-radius:0;

		&:hover{
			z-index:10;
	box-shadow:0;
		}
	}

	/* & .card__content{
		flex-grow:1;
		background-color:var(--primary-90);
		display:flex;
		justify-content: center;
	}

	& .pie-chart{
		width:50%;
		height:50%;

		background-color:var(--primary-50);
	}

	& .card__closer{
		display:flex;
		flex-direction:row;
		gap:1em;
		justify-content: space-between;
		font-size:0.75em;
		color:var(--primary-50);
	}

	& .card__title{
		margin-block:-0.25em;
		margin-inline:-0.25em;
		padding-inline:0.25em;
		border:solid 0.1em var(--white);
		border-radius: var(--border-radius-025);
		transition:border 200ms ease;
	}

	& .card__title:hover{
		border:solid 0.1em var(--primary-50);
		background-color: var(--primary-95);
	} */
}

.card--square{
	aspect-ratio: 1 / 1;
}

.card--high{
    grid-row: span 2;
}

.card--wide{
    grid-column: span 2;
}

.card--full-width{
	grid-column: span 3;
}