header,
footer{
	background-color: var(--dark-100);
	transition: color 0;
	color:var(--white);
	
	& .navbar{
		display:flex;
		flex-direction: row;
		justify-content: space-between;
	}
	
	.logo{
		display:flex;
		flex-grow:1;
		gap:2em;
		justify-content: center;
		align-items: center;
	}

	.nav-right{
		display: flex;
		align-content: center;
		flex-wrap: wrap;
	}

	& .logo-img,
	  .user-profile{
	display:flex;
	color:var(--dark-100);
	background-color:var(--white-050);
	height:2rem;
	width:2rem;
	border-radius:50%;
	justify-content: center;
	align-items: center;
	}

	& .logo-text{
	font-size:1rem;
	}
	
	& a{
		font-weight:700;
		color:var(--white-100);
		text-decoration: none;
		font-size:1rem;
	}

	a:hover{
		color:var(--white-050);
	}
	
	& .active{
	text-decoration-line: underline;
	text-decoration-thickness: var(--size-010);
	color:var(--white-050);
	}
	
	& .active:hover{
		cursor: default;
	}

	button{
		display: flex;
		border-radius: 0;
		align-items: center;
	}

	& .cta-button {
	background-color: var(--complementary-100);
	border-radius:var(--border-radius-050);
	height:3rem;
	}

	& .cta-button:hover{
		background-color: var(--red-075);
	}
}





/* 

.navbar {
	overflow: hidden;
}
  
  /* Navigation links */
  .navbar a {
	float: left;
	flex-grow: 0;
	color: var(--white-100);
	padding: 1rem;
	}
  
  /* The subnavigation menu */
  .subnav {
	float: left;
	overflow: hidden;
  }
  
  /* Subnav button */
  .subnav .subnavbtn {
	color: white;
	/* padding: 14px 16px; */
	background-color: inherit;
	font-family: inherit;
	margin: 0;
	}
  
  /* Add a red background color to navigation links on hover */
  .navbar a:hover, .subnav:hover .subnavbtn {
	background-color: red;
  }
  
  /* Style the subnav content - positioned absolute */
  .subnav-content {
	display: none;
	position: absolute;
	left: 0;
	background-color: red;
	width: 100%;
	z-index: 1;
  }
  
  /* Style the subnav links */
  .subnav-content a {
	float: left;
	color: white;
	text-decoration: none;
  }
  
  /* Add a grey background color on hover */
  .subnav-content a:hover {
	background-color: #eee;
	color: black;
  }
  
  /* When you move the mouse over the subnav container, open the subnav content */
  .subnav:hover .subnav-content {
	display: block;
  } */