@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

:root{
	--color-light: rgb(207, 207, 250);
	--color-dark: rgb(31, 31, 63);
	--color-primary: hsl(70, 76%, 39%);
	--color-secondary: #854922;

}

*{
	box-sizing: border-box;
	margin:0;
	padding:0;
}

body{
	background-color: var(--color-light);
	color:var(--color-dark);
	font-family: 'Montserrat', sans-serif;	
	font-size:16px;
	font-weight:500;
	line-height:1.4;
}

.logo{
	color:var(--color-primary);
}

li,a,button{
	color:var(--color-light);
	text-decoration: none;
	justify-content:flex-start;
}

header{
	display:flex;
	align-items: center;
	justify-content: flex-end;
	background-color:var(--color-dark);
	padding:2em 10%;
	flex-direction: row;
	flex-wrap: wrap;
}

.nav-links li{
	display:inline-block;
	padding-inline:2em;
	transition: all 0.3s ease 0s;
}

.nav-links li a{
	transition: all 0.3s ease 0s;
}

.nav-links li a:hover{
	color:var(--color-secondary);
}

button{
	padding: 9px 25px;
	background-color: var(--color-primary);
	color:var(--color-dark);
	font-weight:700;
	border:none;
	border-radius:50px;
	cursor:pointer;
	transition: all 0.3s ease 0s;
}

button:hover{
	background-color: var(--color-primary);
	opacity:0.8;
}

h1,h2,h3,h4,h5,h6{
	font-weight:700;
}

section{
	height:5em;
}

section:nth-child(odd){
	background-color: var(--color-primary);
	height:5em;
}

section:nth-child(even){
	background-color: var(--color-secondary);
}