body{
	font-family: system-ui;
	font-size:1.5rem;
	padding:2rem;
}

article{
	max-width:50rem;
	margin-inline:auto;
}

article+
article{
	border-block-start:2px solid var(--dark);
}

dialog{
	max-width:50rem;
	background-color: var(--dark-grey);
	color:var(--white);
	border-radius:var(--size-s);
	border:none;
	box-shadow: 0em 0.0625em 0.125em 0em var(--dark);
	z-index:1;
	transition:var(--transition-time);
	scale:0;
}

dialog:hover{
	box-shadow: 0em 0.75em 1.5em 0em var(--dark);
	z-index:2;
	scale:1;
}