@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Fredoka+One&display=swap');

:root{
	--white: #c7c7c7;
	--dark: rgb(76, 0, 83);
	--primary: #5db0cb;
	--secondary: #b90a0a;
	--light-grey:#831212;
	--dark-grey:#9b0404;
}

body{
	font-family: 'Bree Serif', serif;
	font-weight:var(--font-weight-normal);
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Fredoka One', cursive;
	font-weight:var(--font-weight-normal);
}