@import url('https://fonts.googleapis.com/css?family=Bellefair');

#sticky {
  position: sticky;
  position: -webkit-sticky;
  background: red;
  width: 50%;
  height: 20%;
  top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.extra,#wrapper {
    margin: auto;
    background-color: #fff;
}

#wrapper {
    height: 100%;
}

.extra {
  height: 100px;
}

body {
  font-family: Bellefair;
  height: 1000px;
  background: #000;
  font-size: 14pt;
}

h4 {
  text-align: center;
  color: white;
}

@media (min-height: 768px) {
  #wrapper{
    height: 2000px;
  }
}