:root {
	--white:#ffffff;
	--dark:#002033;
	--yellow:#f0c800;
	--red:#940000;
	--light-grey:#f2f3f3;
	--dark-grey:#00304d;
}

html{
    scroll-behavior:smooth;
}

body {
    width:800px;
    margin:0 auto;
    background-color:var(--dark);
    color:var(--white);
    font-family:'Rubik', sans-serif;
    box-sizing:border-box;
    font-size:16px;
    line-height:1.4;    
}

h1,h2,h3,h4,h5,h6{
    color:var(--dark);
    font-weight:700;
    text-transform:capitalize;
}

h1{
    font-size:2em;
    color: var(--yellow);
}

h2{
    font-size:1.5em;
    color:var(--yellow);
}

h3{
    font-size:1.25;
    color:var(--yellow);
}

h4{
    font-size:1.125;
    color:var(--dark);
    text-transform:uppercase;
}

h5{
    font-size: 0.875em;
    color:var(--dark);
    text-transform:uppercase;
}

h6{
    font-size:0.75em;
    text-transform:uppercase;
}

.header{
    margin:16px 0 32px 0;
}

.grid{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    gap:8px;
    box-sizing: border-box;
    grid-auto-flow: dense;
    margin-top:60px;
}

.card{
    display:flex;
    box-sizing:border-box;
    background-color:var(--white);
    color:var(--dark);
    padding:16px;
    border-radius:8px;
    flex-direction:column;
    justify-content:space-between;
    box-shadow:0 4px 8px 0 var(--dark);
}

.wide {
    grid-column:span 2;
}

.high {
    grid-row:span 2;
}

.yellow-card{
    background:var(--yellow);
    color:var(--dark);
}

.yellow-card h2 {
    color:var(--dark);
}

.red-card{
    background:var(--red);
    color:var(--white);
}

.red-card h2 {
    color:var(--yellow);
}

.card:hover{
    box-shadow:0 8px 16px 0 var(--dark);
    transform:scale(1.25);
    transition:0.25s;
}

.card.image {
    background-blend-mode:overlay;
    background-color:rgba(255,255,255,0.75);
}

button {
	box-sizing:border-box;
	border:solid;
	border-color:var(--white);
	font-family:'Rubik', sans-serif;
	border-radius:8px;
	display:inline-block;
	padding:8px;
	color:var(--yellow);
	font-weight:700;
	background-color: var(--dark);
	text-align:center;
	cursor:pointer;
	width:100%;
	transition-duration:0.25s;
    text-transform:lowercase;
}