.overview{
	max-width:70rch;
}

.swatches{
	display:flex;
	padding:2em;
	justify-content: space-between;
	border-radius: var(--border-radius-100);
	margin-bottom:2em;

	& .dark-text{
	display: flex;
	flex-direction: column;
	text-align:left;
	color:var(--dark-100);
	}

	& .light-text{
	display: flex;
	flex-direction: column;
	text-align:right;
	color:var(--white-100);
	}

	& .title{
	font-weight:700;
	}

	& .value{
	font-weight:400;
	}

	&.dark{
		background-color:var(--dark-100);
	}

	&.light{
		background-color:var(--white-100);
		border:var(--size-010) solid var(--dark-100);
		padding:1em;
	}

	&.blue{
		background-color:var(--blue-100);
	}

	&.red{
		background-color:var(--red-100);
	}

	&.yellow{
		background-color:var(--yellow-100);
	}

	&.green{
		background-color:var(--green-100);
	}
}

.reduced-padding{
	padding:1em;
}

.dark-bg{
	background-color:var(--dark-075);
	border-radius:var(--border-radius-050);
}

.light-bg{
	background-color:var(--white-075);
	border-radius:var(--border-radius-050);
}

.warning{
	color:var(--red-100);
}

.swatch{
	width:25%;
	padding-block:3rem;
}

.color-100{
	border-radius:var(--border-radius-100) var(--border-radius-025) var(--border-radius-025) var(--border-radius-100);
}

.color-075{
	border-radius:var(--border-radius-025) var(--border-radius-025) var(--border-radius-025) var(--border-radius-025);
}

.color-050{
	border-radius:var(--border-radius-025) var(--border-radius-025) var(--border-radius-025) var(--border-radius-025);
}

.color-025{
	border-radius: var(--border-radius-025) var(--border-radius-100) var(--border-radius-100) var(--border-radius-025);
}

.colors h4,
.buttons h4{
	padding-left:0.5rem;
	margin-bottom:0.25rem;
}

.buttons h4{
	padding-left:0.25rem;
}

.buttons{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
	gap:1rem;
}

.shadow-low{
	box-shadow:var(--box-shadow-050);
}

.shadow-normal{
	box-shadow:var(--box-shadow-100);
}

.shadow-high{
	box-shadow:var(--box-shadow-200);
}