:root{

	/* SIZES */
	--size-400: 4rem;
	--size-300: 3rem;
	--size-200: 2rem;
	--size-150: 1.5rem;
	--size-125: 1.25rem;
	--size-100: 1rem;
	--size-075: 0.75rem;
	--size-050: 0.5rem;
	--size-025: 0.25rem;
	--size-010: 0.125rem;
	--size-005: 0.0625rem; /* @16px = 1px*/

	--border-radius-100:var(--size-100);
	--border-radius-050:var(--size-050);
	--border-radius-025:var(--size-025);

	--box-shadow-025:0 var(--size-005) var(--size-005) 0 var(--dark-050);
	--box-shadow-050:0 var(--size-005) var(--size-010) 0 var(--dark-050);
	--box-shadow-100:0 var(--size-010) var(--size-050) 0 var(--dark-025);
	--box-shadow-200:0 var(--size-025) var(--size-100) 0 var(--dark-025);

	/* timing */
	--time-100: 1000ms;
	--time-050: 500ms;
	--time-025: 250ms;
	--time-010: 100ms;

	/* FONTS */
	@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700&display=swap');
	--font-heading:'Inter', sans-serif;
	--font-body:'Inter', sans-serif;

	--font-weight-normal:400;
	--font-weight-bold:700;
	--font-weight-light:100;
}

.font-weight-normal{
	font-weight:var(--font-weight-normal);
}

.font-weight-bold{
	font-weight:var(--font-weight-bold);
}

.font-weight-light{
	font-weight:var(--font-weight-light);
}