body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:16px;
    background:#111;
    font-weight: 400;
    color:#fff;
    line-height:1.33;
}

main{
    max-width:1200px;
    margin:0 auto;
    padding:1em;
}

.cards{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-flow: dense;
    gap:1em;
}

@media (min-width:1200px){
    .cards{
        grid-template-columns: repeat(4,1fr);
    }
}

.card{
    padding:1em;
    background:#333;
    border-radius:1em;
    border: 3px #333 solid;
    transition: .2s;
}

h1,h2,h3,h4,h5,h6{    
    color:chocolate;
    font-weight:700;
    padding-bottom:0.5em;
}

h1{
    font-size:3em;
}

h2{
    font-size:2em;
}

h3{
    font-size:1.5em;
}

h4{
    font-size:1em;
}

h5{
    font-size:.75em;
    text-transform: uppercase;
}

p{
    font-size:1em;
}

.high{
    grid-row:span 2;
    border-top-right-radius: 0;
    transition: .2s;
}

.card:hover{
    background: #111;
    border: 3px #333 solid;
}

.wide{
    grid-column:span 2;
    border-bottom-left-radius: 0;
}