/* :root{
	--white: #fff;
	--dark: #333;
	--primary: rgb(128, 0, 128);
	--secondary: rgb(211, 75, 75);
	--light-grey:#ddd;
	--dark-grey:#555;
}

body{
	font-family:cursive;
	font-weight:regular;
}

h1,h2,h3,h4,h5,h6{
	font-weight:bold;
}

th{
	background-color: var(--yellow);
	color:white;
}

::selection,
tr:hover{
	background-color: rgba(128,0,128,0.5);
} */